<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Componentes Ionic
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Componentes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="full" fill="solid" (click)="presentActionSheet()">Mostrar action</ion-button>
            <ion-button expand="full" color="success" fill="solid" (click)="presentAlert()">Mostrar Alert</ion-button>
            <ion-item>
                <ion-label>My Item</ion-label>
                <ion-badge slot="end">22</ion-badge>
            </ion-item>
            <ion-list>
                <ion-item *ngFor="let chequesin of checkList">
                    <ion-label>{{chequesin.val}}</ion-label>
                    <ion-checkbox slot="end" [(ngModel)]="chequesin.isChecked"></ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-chip>
                <ion-label>Cafe</ion-label>
            </ion-chip>
            <ion-item>
                <ion-label>Fecha:</ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="fecha"></ion-datetime>
            </ion-item>
        </ion-card-content>

    </ion-card>

</ion-content>